<!DOCTYPE html>
<html>
<head>
	<title>Auction</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assests/user-defined-dist/style.css">
	<link rel="stylesheet" type="text/css" href="/assests/user-defined-dist/main.css">
	{{{_sections.css}}}
</head>
<body style="background-color: #F4F4F4;">
	<div class="container-fluid">
		{{> header}}
		{{> navbar}}
		{{{_sections.customnavbar}}}
    		<div class="row">
      			<div class="col-sm-0 col-md-1 col-lg-1">&nbsp;</div>
      			<div class="col-sm-12 col-md-10 col-lg-10">
        			{{{body}}}
      			</div>
      			<div class="col-sm-0 col-md-1 col-lg-1">&nbsp;</div>
    		</div>
    		{{> footer}} 
  	</div>
	<script type="text/javascript" src="/assests/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assests/user-defined-dist/main.js"></script>
	{{{_sections.js}}}
</body>
</html>
