<div class="row bottom" style="margin-top: 1px;padding-bottom: 3px;background-color: #fff; padding-top: 5px;">
          <div class="col-sm-1 col-md-1 col-lg-1"> &nbsp;
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3" style="padding-bottom: 8px;">
            <b>HỖ TRỢ KHÁCH HÀNG</b>
            <br>
            <div style="color: red; font-weight: bold">
              Hotline: 1900-6035
            </div>
            (1000d/phút , 8-21h kể cả T7, CN)
            <br>
            Các câu hỏi thường gặp
            <br>
            Gửi yêu cầu hỗ trợ
            <br>
            Hướng dẫn đặt hàng
            <br>
            Phương thức vận chuyển
            <br>
            Chính sách đổi trả
          </div>
          <div class="col-sm-4 col-md- col-lg-4">
            <b>GIỚI THIỆU</b>
            <br>
            TRƯỜNG ĐH KHOA HỌC TỰ NHIÊN - ĐHQG TP.HCM
            <br>
            Khoa Công Nghệ Thông Tin
            <br>
            Đồ án giữa kì - PTƯD Web TH/2014
            <br>
            Nhóm 4D
            <br>
            &nbsp;&nbsp;&nbsp;<i> +1412197 - Đoàn Thị Phương Huyền </i>.
             <br>
            &nbsp;&nbsp;&nbsp;<i>+1412356 - Nguyễn Đào Thảo Nguyên</i>
             <br>
            &nbsp;&nbsp;&nbsp;<i>+1412362 - Võ Đặng Nguyễn</i>
          </div>  
            <div class="col-sm-3 col-md-3 col-lg-3">
              <b>HỢP TÁC LIÊN KẾT</b>
              <br>
            QuyGDTMÐT
            <br>
            Foody.vn - Ăn gì ở dâu
            <br>
            iVIVU.com - Đặt hàng khách sạn rẻ
            <br>
            Bán hàng cùng Auction
            </div>
    </div>   