<div class="row" id="Danhmuc">
	<div class="col-sm-1 col-md-1 col-lg-1">&nbsp;</div>
	<div class="col-sm-10 col-md-10 col-lg-10">
		<nav class="navbar navbar-default navheading">
			<ul class="nav navbar-nav" id="ulcustom">
	      			<li class="dropdown userdropdown">
	        			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	        				<img src="/imgs/menu.png"/>
	        				<span class="Danhmucsanpham">DANH MỤC SẢN PHẨM</span>
	        				<span class="caret"></span></a>
	        				<ul class="dropdown-menu">
			                    {{#each layoutVM.danhmuc}}
			                    <li><a href="/sanpham/theodanhmuc/{{MaDanhMuc}}.html">{{TenDanhMuc}}</a></li>
			                    {{/each}}
                  			</ul>
	      			</li>
	      			<li><a class="Danhmucsanpham" href="#" id="SanPhamBanDaXem">SẢN PHẨM BẠN ĐÃ XEM</a></li>
	      			<li><a class="Danhmucsanpham" href="#" id="SanPhamBanYeuThich"> SẢN PHẨM YÊU THÍCH</a></li>
	    	</ul>
		</nav>
	</div>
</div>
