<a href="/nguoiban/profile" class="list-group-item">Thông tin cá nhân</a>
<a href="/nguoiban/chinhsuathongtincanhan" class="list-group-item">Chỉnh sửa thông tin cá nhân</a> 
<a href="/nguoiban/dangsanphamlenban" class="list-group-item">Đăng sản phẩm lên bán</a>
<a href="/nguoiban/danhsachsanphamdadanglen" class="list-group-item">Danh sách sản phẩm đã đăng và còn hạn</a>
<a href="/nguoiban/xemdanhgia" class="list-group-item">Xem đánh giá người dùng đã đánh giá</a>
<a href="/nguoiban/danhsachsanphamconguoimua" class="list-group-item">Danh sách sản phẩm đã có người mua</a>