
<a href="/nguoimua/profile" class="list-group-item">Thông tin cá nhân</a>
<a href="/nguoimua/chinhsuathongtincanhan" class="list-group-item">Chỉnh sửa thông tin cá nhân</a>
<a href="/nguoimua/dsspthamgiadaugia" class="list-group-item">  Danh sách sản phẩm tham gia đấu giá</a>
<a href="/nguoimua/danhsachsanphamdathang" class="list-group-item">  Danh sách sản phẩm đã thăng</a>
<a href="/nguoimua/danhsachsanphamyeuthich" class="list-group-item">  Danh sách sản phẩm đã yêu thích</a>
<a href="/nguoimua/xemdanhgia" class="list-group-item">  Xem đánh giá của người bán</a>
<a href="/nguoimua/xinquyenduocban" class="list-group-item">Xin quyền để trở thành người bán</a>