    .heading {
		background-color: #189EFF;
		padding-top: 5px;

		}
    a {
        color: #000 !important;
    }
   
    }
	.navheading {
		background-color:#189EFF;
		padding: 0px;
		border:0px;
		border-radius: 0px;
		color: #ffffff;
	}
	.logo {
		font-size: 25pt;
		font-weight: bold;
		color: white;
	}
	
	.ulcustom{
		color: #ffffff;
	}

	#Danhmucsanpham{
		color: #ffffff;
	}
	.detail-content {
		background-color: white;
		margin-bottom: 50px;
		margin-top: 50px;
		padding: 30px;
        }	
    		
    	.TimKiemSP{
		padding-top: 8px;	
	}
		
	.inputext{
		font-size: 13px;
		height: 40px;
	}
		#ChinhSachDauGia{
			color: #189EFF;
		}
		.ThongTinDangKi{
			padding-left: 63px;
			padding-right: 63px;
			font-size: 13px;
		}
		
		.EditButtonLogin{
			padding: 14px;
            		margin-top: 20px !important;
			
		}
		
		.dropdown-item
		{
			color: #000000;

		}
   
    
    </style>
   
