    .heading {
		background-color: #189EFF;
		padding-top: 5px;

		}
    a {
        color: #000 !important;
    }
    .content {
        background-color: white;
    }
	.navheading {
		background-color:#189EFF;
		padding: 0px;
		border:0px;
		border-radius: 0px;
		color: #ffffff;
	}
	.logo {
		font-size: 25pt;
		font-weight: bold;
		color: white;
	}
	
	.ulcustom{
		color: #ffffff;
	}

	#Danhmucsanpham{
		color: #ffffff;
	}
		
    #Danhmuc{
		background-color:#189EFF;
    }
		
    .TimKiemSP{
		padding-top: 8px;	
	}
		
		.inputext{
			font-size: 13px;
			height: 40px;


		}
		#ChinhSachDauGia{
			color: #189EFF;
		}
		.ThongTinDangKi{
			padding-left: 63px;
			padding-right: 63px;
			font-size: 13px;
		}
		
		.EditButtonLogin, .EditButtonExit{
			padding-top: 4px;
			padding-left: 2px;
			padding-right: 2px;
			padding-bottom: 7px;
			border-radius: 5px;
			border: solid 2px #ffffff;
			margin-right: 3px;
			margin-left: 5px;
			margin-top:7px;
			height: 45px;
			
		}
		.EditButtonExit{
			background-color: #189EFF;
			color: #fff;
			margin-left:200px;
			padding-top: 10px;
			padding-left: 10px;
			
		}
		#btnTaiKhoan{
			background-color: #189EFF;
			border: 0px;
			color: #fff;
			margin-right: 3px;
		}
		#btnDangKiChinh, #btnDangNhapChinh{
			font-size: 13px;

		}
		.dropdown-item
		{
			color: #000000;

		}
    .DanhMucChinh{
      color: #fff;
    }
    .container-fluid{
          height: 100%;
        }
      #Danhmuc{
        height: 0%;
      }
    	</style>
      <link rel="stylesheet" href="dist/css/swiper.min.css">

    <!-- Demo styles -->
    <style>
    html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .thumbnail{    
    border: 0px solid #ffffff !important;
    }
    .swiper-container {
        width: 100%;
        height: 400px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 320px !important;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiperTemp{
        width: 102%;
        height: 400px;
    }
    .swiper-slide1 {
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 870px !important;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    </style>
    <style type="text/css">
        #TieuDeDienGiaDung_DienLanh{
            
            margin-left:10px;
            padding-top: 25px;
            font-size: 100%;
            
        }
        
          .navid{
                color: red;
                 }  
        
    </style>
